
body{ font-family: ;'Open Sans', sans-serif;
    
    margin:0 px;
    padding: 0 px;
    border: 0;


background-color: black;
    
}



.carousel-inner img{
    max-height: 79vh;
 object-fit: cover;

}


.izquerda{
    text-align: left;
}

.letra{
    font-size: small;
}

.nav-black{
    background-color: black;
    opacity:0.9 ;
    color: white;
    
}

